<table>
  <tr *ngFor="let rowValues of grid; index as row">
    <td *ngFor="let cell of rowValues; index as col" class="played-{{cell}}" [ngSwitch]="cell">
      <tictac-naught *ngSwitchCase="1">O</tictac-naught>
      <tictac-cross *ngSwitchCase="2">X</tictac-cross>
      <span *ngSwitchDefault>
        <button (click)="play(row, col, player)">{{row}}, {{col}}</button>
      </span>
    </td>
  </tr>
</table>

<button (click)="newGame()">New Game</button>

<div *ngIf="gameOver">
  <h2>Game Over!</h2>
</div>
